{
  "extends": [
    "airbnb-base",
    "plugin:vue/vue3-recommended"
  ],
  "env": {
    "es2022": true,
    "browser": true
  },
  "rules": {
    "indent": [
      "error",
      2
    ],
    "no-console": "off",
    "prefer-destructuring": "off",
    "no-restricted-syntax": "off",
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": {
          "max": 4
        },
        "multiline": {
          "max": 4
        }
      }
    ],
    "max-len": [
      "error",
      {
        "code": 200,
        "ignorePattern": "d=\"([\\s\\S]*?)\""
      }
    ],
    "no-unused-vars": "warn",
    "radix": "off",
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "vue/multi-word-component-names": "off",
    "typescript-eslint": "off",
    "no-plusplus": "off",
    "object-property-newline": [
      "error",
      {
        "allowAllPropertiesOnSameLine": false
      }
    ],
    "no-shadow": "warn",
    "no-use-before-define": "off",
    "vue/no-v-for-template-key": "off",
    "no-restricted-globals": "off",
    "no-alert": "off",
    "import/no-extraneous-dependencies": [
      "warn",
      {
        "devDependencies": false,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "no-param-reassign": "warn"
  },
  "parserOptions": {
    "ecmaVersion": 2022
  }
}
