@import '@inkline/inkline/css/variables';
@import '@inkline/inkline/css/mixins';

:root {
    --color--primary--h: 195deg;
    --color--primary--s: 77%;
    --color--primary--l: 39%;
    font-family: 'Roboto', sans-serif;

    .-light {
        a.link {
            // color: #90d8f0;
        }
    }

    .-dark {
        a.link {
            color: #90d8f0;
        }
    }
}

@include i-toggle() {
    & label::before {
        margin: 0 !important;
    }
}

@include i-alert() {
    & {
        margin-bottom: 2px;
    }

    &._small {
        max-width: 600px;
    }
}

@include i-navbar() {
    &.blue {
        $primary: #0077B6;
        $primary-hover: #428db6;
        ----color: #ffffff;
        background-color: $primary;
        font-weight: bolder;

        .hamburger-menu {
            ----background: white;
        }

        .navbar-collapsible {
            background-color: $primary;
        }

        .nav-item {
            background-color: $primary;
            cursor: pointer;
        }

        .nav-item:hover {
            background-color: $primary-hover;
        }
    }
}
